*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.swo
Thumbs.db

brvc-properties/data
brvc-properties/test_data
package-lock.json

node_modules/
images/
PDF/
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen
wp-content/plugins/wordpress-admin-style-master
wp-content/plugins/1-click-retweetsharelike
wp-content/plugins/accelerated-mobile-pages/
wp-content/plugins/akismet
wp-content/plugins/amp
wp-content/plugins/aryo-activity-log
wp-content/plugins/autoptimize
wp-content/plugins/contact-form-7
wp-content/plugins/contact-form-7-dynamic-text-extension
wp-content/plugins/contact-form-7-honeypot
wp-content/plugins/contact-form-7-newsletter
wp-content/plugins/envira-dynamic
wp-content/plugins/envira-gallery
wp-content/plugins/envira-gallery-themes
wp-content/plugins/force-https-srcset
wp-content/plugins/formidable
wp-content/plugins/hyperdb
wp-content/plugins/hyperdb-1-1
wp-content/plugins/js-css-script-optimizer
wp-content/plugins/ml-slider
wp-content/plugins/real3d-flipbook
wp-content/plugins/redirection
wp-content/plugins/search-and-replace/
wp-content/plugins/shortcodes-ultimate
wp-content/plugins/spoontalk-social-media-icons-widget
wp-content/plugins/the-events-calendar
wp-content/plugins/wordpress-importer
wp-content/plugins/wordpress-seo
wp-content/plugins/wp-google-maps
wp-content/plugins/wp-owl-carousel
wp-content/plugins/wp-property
wp-content/plugins/worker
wp-content/plugins/wunderground
wp-content/mu-plugins/force-strong-passwords

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
